<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

	<div class="navbar" th:fragment="header">
		<a href="/">Home</a> <a href="/chat">Chat</a>
		<div class="dropdown">
			<button class="dropbtn">
				Settings <i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/user">My user</a> <a href="/user/books">My books</a>
			</div>
		</div>
	</div>

	<div th:fragment="footer" align="right">&copy; 2019 frangoro</div>
</body>