<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<th:block th:fragment="header">

	<nav class="navbar navbar-inverse ">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Book Sharing</a>
			</div>
			<ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
				<li class="active"><a href="/">Library</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">Settings <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/user">My user</a></li>
						<li><a href="/user/books">My books</a></li>
					</ul></li>
				<li><a href="#">Chat</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
		      <li><a href="/signup"><span class="glyphicon glyphicon-user" sec:authorize="isAnonymous()">Sign Up</span></a></li>
		      <li><a href="/login"><span class="glyphicon glyphicon-log-in" sec:authorize="isAnonymous()">Login</span></a></li>
		    </ul>
		</div>
	</nav>

	</th:block>
</body>
</html>