<!DOCTYPE html>
<html xmlns:layout="https://www.thymeleaf.org/doc/articles/layouts.html"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
	<meta charset="utf-8" />
	<title>My User</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div align="center">
			<h1>User Management</h1>
			<br /> <br />
			<form action="#" th:action="@{/user/update}" th:object="${user}" method="post">
				User name:<br> <input type="text" name="username" th:field="*{username}"><br>
				Name:<br> <input type="text" name="name" th:field="*{firstName}"><br>
	<!-- 			Location: <br> <input type="text" name="location" th:field="*{location}"><br><br> -->
				<button type="submit" name="action" value="save">Save</button>
				<button type="submit" name="action" value="delete">Delete</button>
			</form>
		</div>
	</div>
</body>
</html>