<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<head th:insert="layout/fragments.html :: headerfiles">
<meta charset="utf-8"/>
<title>Book Sharing</title>
</head>
<body>
<header th:insert="layout/fragments.html :: header"> </header>
<div align="center">
    <h1>My Book List</h1>
    <a th:href="@{/user/book/new}">Add a new book</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
                <th>Owner</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}">Book ID</td>
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.author}">Author</td>
                <td th:text="${book.owner}">Owner</td>
                <td th:text="${book.user}">User</td>
                <td>
                    <a th:href="@{'/user/book/edit/' + ${book.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/user/book/delete/' + ${book.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>